.button1
{margin:10px; height:30px; width:120px; background-color:#0099FF; border-style:groove;border-color:transparent;border-radius:20px}
/*{margin-top:10px; height:30px; width:120px; background-color:#0099FF; border-style:groove;border-color:transparent;border-radius:20px}*/