<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="utf-8" />
    <title>2stc_2dut_type01</title>

    <meta name="description" content="Common form elements and layouts" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/css/jquery-ui.custom.min.css" />
    <link rel="stylesheet" href="../static/assets/css/chosen.min.css" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap-datepicker3.min.css" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap-timepicker.min.css" />
    <link rel="stylesheet" href="../static/assets/css/daterangepicker.min.css" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap-datetimepicker.min.css" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap-colorpicker.min.css" />
    <link rel="stylesheet" href="../static/assets/css/fonts.googleapis.com.css" />
    <link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="../static/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="../static/assets/css/ace-rtl.min.css" />
    <link rel="stylesheet" href="../static/assets/css/testpack.css" />
    <script src="../static/assets/js/ace-extra.min.js"></script>
  </head>
  <body class="no-skin">
    <div class="main-container ace-save-state" id="main-container">
      <script type="text/javascript">
        try{ace.settings.loadState('main-container')}catch(e){}
      </script>
      <p id="edit_testbed" style="display: none">{{edit_testbed}}</p>
      <p id="topology_value" style="display: none">{{topology_value}}</p>
      <p id="testbed_name" style="display: none">{{testbed_name}}</p>
      <p id="nameProject" style="display: none">{{nameProject}}</p>
      <div align="center" style="margin-bottom: 1%">
        <img src="../static/image/2stc_2dut_type01.png" alt="testbed" style="width: 40%;">
      </div>
      <button class = "button1" id="saveTestbed" onclick="saveTestbed(this)">Save Testbed</button>
      <div class="col-xs-12">
        <div class="dd" id="nestable">
          <ol class="dd-list">
            <li class="dd-item" data-id="2" id="labServer">
              <div class="dd2-content">Lab Server</div>
              <ol class="dd-list">
                <li class="dd-item" data-id="3">
                  <div class="dd2-content">
                    <div class="row">
                      <div class="col-sm-6">
                        <span style="color: red">Ip Address&nbsp;</span><input type="text" id="labServer.ip" value="{{labServer.ip}}" placeholder="ip or hostname"/>
                      </div>
                      <div class="col-sm-6">
                        <span style="color: green">Session Name&nbsp;</span><input type="text" id="labServer.sessionName" value="{{labServer.sessionName}}" placeholder="session name"/>
                      </div>
                    </div>
                  </div>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="dd" id="nestable">
          <ol class="dd-list">
            <li class="dd-item" data-id="2" id="stcLocalHead">
              <div class="dd2-content level1_key">STC-LocalHead</div>
              <ol class="dd-list">
                <li class="dd-item" data-id="3" id="location">
                  <div class="dd2-content">
                    <div class="row">
                      <div class="col-sm-4">
                        <span style="color: red">Location&nbsp;</span><input type="text" id="stcLocalHead.location" value="{{stcLocalHead.location}}" placeholder="ip/slot/port"/>
                      </div>
                      <div class="col-sm-4">
                        <span style="color: green">Speed&nbsp;</span>
                        <select id="stcLocalHead.speed" value="{{stcLocalHead.speed}}" data-placeholder="Choose a Speed...">
                          <option>Default</option>
                          <option>100M</option>
                          <option>1G</option>
                          <option>10G</option>
                          <option>100G</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <span style="color: green">Phy&nbsp;</span>
                        <select id="stcLocalHead.phy" value="{{stcLocalHead.phy}}" data-placeholder="Choose a Phy...">
                          <option>Default</option>
                          <option>EthernetCopper</option>
                          <option>EthernetFiber</option>
                          <option>Ethernet10GigCopper</option>
                          <option>Ethernet10GigFiber</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="dd-item" data-id="5" id="device1">
                  <div class="dd2-content">
                    device-local_head
                  </div>
                  <ol class="dd-list">
                    <li class="dd-item" data-id="6">
                      <div class="dd2-content">
                        <span style="color: green">Name&nbsp;</span><input id="stcLocalHead.device1.name" type="text" value="{{stcLocalHead.device1.name}}" placeholder="device name"/>
                      </div>
                    </li>
                    <li class="dd-item" data-id="7" id="ipv4If">
                      <div class="dd-handle">Ipv4_If</div>
                      <ol class="dd-list">
                        <li class="dd-item item-orange" data-id="6">
                          <div class="dd2-content">
                            <div class="row">
                              <div class="col-sm-4">
                                <span style="color: green">Address&nbsp;</span><input id="stcLocalHead.device1.ipv4If.address" type="text" value="{{stcLocalHead.device1.ipv4If.address}}" placeholder="x.x.x.x"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">Gateway&nbsp;</span><input id="stcLocalHead.device1.ipv4If.gateway" type="text" value="{{stcLocalHead.device1.ipv4If.gateway}}" placeholder="x.x.x.x"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">PrefixLength&nbsp;</span><input id="stcLocalHead.device1.ipv4If.prefixLength" type="text" value="{{stcLocalHead.device1.ipv4If.prefixLength}}" placeholder="length 0-32"/>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </li>
                    <li class="dd-item" data-id="7" id="ipv6If">
                      <div class="dd-handle">Ipv6_If</div>
                      <ol class="dd-list">
                        <li class="dd-item item-orange" data-id="6">
                          <div class="dd2-content">
                            <div class="row">
                              <div class="col-sm-4">
                                <span style="color: green">Address&nbsp;</span><input id="stcLocalHead.device1.ipv6If.address" type="text" id="address" value="{{stcLocalHead.device1.ipv6If.address}}" placeholder="x:x:x:x:x:x:x:x"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">Gateway&nbsp;</span><input id="stcLocalHead.device1.ipv6If.gateway" type="text" id="gateway" value="{{stcLocalHead.device1.ipv6If.gateway}}" placeholder="x.x.x.x"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">PrefixLength&nbsp;</span><input id="stcLocalHead.device1.ipv6If.prefixLength" type="text" id="prefixLength" value="{{stcLocalHead.device1.ipv6If.prefixLength}}" placeholder="length 0-128"/>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li class="dd-item" data-id="5">
                  <div class="dd2-content">
                    device-local_device1
                  </div>
                  <ol class="dd-list">
                    <li class="dd-item" data-id="6">
                      <div class="dd2-content">
                        <span style="color: green">Name&nbsp;</span><input id="stcLocalHead.device2.name" type="text" value="{{stcLocalHead.device2.name}}" placeholder="device name"/>
                      </div>
                    </li>
                    <li class="dd-item" data-id="7">
                      <div class="dd-handle">Ipv4_If</div>
                      <ol class="dd-list">
                        <li class="dd-item item-orange" data-id="6">
                          <div class="dd2-content">
                            <div class="row">
                              <div class="col-sm-6">
                                <span style="color: green">Address&nbsp;</span><input id="stcLocalHead.device2.ipv4If.address" type="text" placeholder="x.x.x.x" value="{{stcLocalHead.device2.ipv4If.address}}"/>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
      <div class="col-xs-12">
        <div class="dd" id="nestable">
          <ol class="dd-list">
            <li class="dd-item" data-id="2">
              <div class="dd2-content">STC-RemoteHead</div>
              <ol class="dd-list">
                <li class="dd-item" data-id="3">
                  <div class="dd2-content">
                    <div class="row">
                      <div class="col-sm-4">
                        <span style="color: red">Location&nbsp;</span><input id="stcRemoteHead.location" type="text" value="{{stcRemoteHead.location}}" placeholder="ip/slot/port"/>
                      </div>
                      <div class="col-sm-4">
                        <span style="color: green">Speed&nbsp;</span>
                        <select id="stcRemoteHead.speed" value="{{stcRemoteHead.speed}}" data-placeholder="Choose a Speed...">
                          <option>Default</option>
                          <option>100M</option>
                          <option>1G</option>
                          <option>10G</option>
                          <option>100G</option>
                        </select>
                      </div>
                      <div class="col-sm-4">
                        <span style="color: green">Phy&nbsp;</span>
                        <select id="stcRemoteHead.phy" value="{{stcRemoteHead.phy}}" data-placeholder="Choose a Phy...">
                          <option>Default</option>
                          <option>EthernetCopper</option>
                          <option>EthernetFiber</option>
                          <option>Ethernet10GigCopper</option>
                          <option>Ethernet10GigFiber</option>
                        </select>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="dd-item" data-id="5">
                  <div class="dd2-content">
                    device-remote_head
                  </div>
                  <ol class="dd-list">
                    <li class="dd-item" data-id="6">
                      <div class="dd2-content">
                        <span style="color: green">Name&nbsp;</span><input id="stcRemoteHead.device1.name" type="text" value="{{stcRemoteHead.device1.name}}" placeholder="device name"/>
                      </div>
                    </li>
                    <li class="dd-item" data-id="7">
                      <div class="dd-handle">Ipv4_If</div>
                      <ol class="dd-list">
                        <li class="dd-item item-orange" data-id="6">
                          <div class="dd2-content">
                            <div class="row">
                              <div class="col-sm-4">
                                <span style="color: green">Address&nbsp;</span><input id="stcRemoteHead.device1.ipv4If.address" type="text" value="{{stcRemoteHead.device1.ipv4If.address}}" placeholder="x.x.x.x"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">Gateway&nbsp;</span><input id="stcRemoteHead.device1.ipv4If.gateway" type="text" value="{{stcRemoteHead.device1.ipv4If.gateway}}" placeholder="x.x.x.x"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">PrefixLength&nbsp;</span><input id="stcRemoteHead.device1.ipv4If.prefixLength" type="text" placeholder="length 0-32" value="{{stcRemoteHead.device1.ipv4If.prefixLength}}"/>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </li>
                    <li class="dd-item" data-id="7">
                      <div class="dd-handle">Ipv6_If</div>
                      <ol class="dd-list">
                        <li class="dd-item item-orange" data-id="6">
                          <div class="dd2-content">
                            <div class="row">
                              <div class="col-sm-4">
                                <span style="color: green">Address&nbsp;</span><input id="stcRemoteHead.device1.ipv6If.address" type="text" placeholder="x:x:x:x:x:x:x:x" value="{{stcRemoteHead.device1.ipv6If.address}}"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">Gateway&nbsp;</span><input id="stcRemoteHead.device1.ipv6If.gateway" type="text" value="{{stcRemoteHead.device1.ipv6If.gateway}}" placeholder="x.x.x.x"/>
                              </div>
                              <div class="col-sm-4">
                                <span style="color: green">PrefixLength&nbsp;</span><input id="stcRemoteHead.device1.ipv6If.prefixLength" type="text" placeholder="length 0-128" value="{{stcRemoteHead.device1.ipv6If.prefixLength}}"/>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
                <li class="dd-item" data-id="5">
                  <div class="dd2-content">
                    device-remote_device1
                  </div>
                  <ol class="dd-list">
                    <li class="dd-item" data-id="6">
                      <div class="dd2-content">
                        <span style="color: green">Name&nbsp;</span><input id="stcRemoteHead.device2.name" type="text" placeholder="device name" value="{{stcRemoteHead.device2.name}}"/>
                      </div>
                    </li>
                    <li class="dd-item" data-id="7">
                      <div class="dd-handle">Ipv4_If</div>
                      <ol class="dd-list">
                        <li class="dd-item item-orange" data-id="6">
                          <div class="dd2-content">
                            <div class="row">
                              <div class="col-sm-6">
                                <span style="color: green">Address&nbsp;</span><input id="stcRemoteHead.device2.ipv4If.address" type="text" placeholder="x.x.x.x" value="{{stcRemoteHead.device2.ipv4If.address}}"/>
                              </div>
                            </div>
                          </div>
                        </li>
                      </ol>
                    </li>
                  </ol>
                </li>
              </ol>
            </li>
          </ol>
        </div>
      </div>
    </div>
    <script src="../static/js/topology.js"></script>
    <script src="../static/assets/js/jquery-2.1.4.min.js"></script>
    <script type="text/javascript">
      if('ontouchstart' in document.documentElement) document.write("<script src='../static/assets/js/jquery.mobile.custom.min.js'>"+"<"+"/script>");
    </script>
    <script src="../static/assets/js/bootstrap.min.js"></script>
    <script src="../static/assets/js/jquery.nestable.min.js"></script>
    <script src="../static/assets/js/ace-elements.min.js"></script>
    <script src="../static/assets/js/ace.min.js"></script>
    <script type="text/javascript">
      jQuery(function($){
        $('.dd').nestable();
        $('.dd-handle a').on('mousedown', function(e){
          e.stopPropagation();
        });
        $('[data-rel="tooltip"]').tooltip();
      });
    </script>
  </body>
</html>