<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>table1</title>
    <meta name="description" content="overview &amp; stats" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
    <link rel="stylesheet" href="../static/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
    <link rel="stylesheet" href="../static/assets/css/ace-skins.min.css" />
    <link rel="stylesheet" href="../static/assets/css/ace-rtl.min.css" />
  </head>
  <body>
    <table id="dynamic-table" class="table">
      <thead>
        <tr>
          <th>{{test1}}</th>
          <!-- <th>Project Name</th> -->
          <th>Execution Date</th>
          <th>
            <i class="ace-icon fa fa-clock-o bigger-110 hidden-480"></i>
            Duration time
          </th>
          <th>Pass Ratio</th>
          <th>Logs</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>
            <a href="#">SD-WAN-BDC</a>
          </td>
          <td>02-24-2020 19:36</td>
          <td>13m:15s</td>
          <td>20/20(100%)</td>
          <td>
            <div class="hidden-sm hidden-xs action-buttons">
              <a class="blue" href="#">
                <i class="ace-icon fa fa-link bigger-130"></i>
              </a>
            </div>
          </td>
        </tr>
        <tr>
          <td>
            <a href="#">{{test2}}</a>
            <!-- <a href="#">MEF-CAL</a> -->
          </td>
          <td>02-24-2020 11:20</td>
          <td>4m:35s</td>
          <td>12/20(60%)</td>
          <td>
            <div class="hidden-sm hidden-xs action-buttons">
              <a class="blue" href="#">
                <i class="ace-icon fa fa-link bigger-130"></i>
              </a>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <script src="../static/assets/js/jquery-2.1.4.min.js"></script>
    <script src="../static/assets/js/jquery.dataTables.min.js"></script>
    <script src="../static/assets/js/jquery.dataTables.bootstrap.min.js"></script>
    <script type="text/javascript">
      jQuery(function($) {
        var myTable = 
        $('#dynamic-table')
        .dataTable( {
          "lengthMenu" : [5, 10, 20],
          } );
      })
    </script>
  </body>
</html>
