<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="../static/assets/css/bootstrap.min.css" />
  <link rel="stylesheet" href="../static/assets/font-awesome/4.5.0/css/font-awesome.min.css" />
  <link rel="stylesheet" href="../static/assets/css/fonts.googleapis.com.css" />
  <link rel="stylesheet" href="../static/assets/css/ace.min.css" class="ace-main-stylesheet" id="main-ace-style" />
  <link rel="stylesheet" href="../static/assets/css/ace-skins.min.css" />
  <link rel="stylesheet" href="../static/assets/css/ace-rtl.min.css" />
  <link rel="stylesheet" href="../static/assets/css/testpack.css" />
</head>
<body>
  <!-- <button id="button1"></button> -->
  <!-- <input type="checkbox" id="input01" class="ace" checked="checked" /> -->
  <p id="p01">p01</p>
  <button class="btn btn-xs btn-light" id="button1" onclick="saveTestbed(this)">Save Testbed</button>
  <br>
  <button class = "button1" id="button2" onclick="button2(this)">parameter</button>
  <script src="../static/assets/js/jquery-2.1.4.min.js"></script>
  <script src="../static/js/test1.js"></script>
  <script>
    // 
    // $("#button1").on("click", function(){
    //   console.log($("#input01").is(':checked'));
    // });
    // $("#td1").on("click", function(){
    //   console.log('td1 selected');
    // });
    // $(".onSingleCheck").on("click", function(){
    //   console.log('td1 selected');
    // });
    // setInterval("console.log('every 2 second')", 2000 )
    // console.log($("#div1").children('p:first').html());
    // console.log($("#div1").children('div:eq(1) > p').html());
    // $("#p01").css('display','');
    // str1 = 'abc(de)_fg';
    // div1 = 'div1'
    // pos1 = str1.indexOf('(');
    // pos2 = str1.indexOf(')') + 1;
    // str2 = str1.substring(0, str1.indexOf('(')) + str1.substring(str1.indexOf(')') + 1, )
    // console.log(str1.substring(0, str1.indexOf('(')) + str1.substring(str1.indexOf(')') + 1, ));
    // console.log($("div[id=" + div1 + "]"));
    // console.log($("div[id=" + div1 + "]").html());
    // obj1 = {'name':'eric', 'age':10};
    // delete obj1['name'];
    // for(var key in obj1){
    //   console.log('value for key ' + key + ' is ' + JSON.stringify(obj1[key]));
    // }
  </script>
</body>
</html>